
/*
 * Slow rotation animation.
 */

@keyframes slow-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.slow-rotate {
    animation: slow-rotate 180s linear infinite;
}



/*
 * Fade in right animation.
 */

 @keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(-150px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-right {
    animation: fade-in-right 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}



/*
 * Pulse animation.
 */

@keyframes pulse {
    0%, 50% {
        transform: scale(1);
    }
    50%, 100% {
        transform: scale(1.09);
    }
}

.pulse {
    &:hover{
        animation: pulse 1.3s infinite;
        animation-direction: alternate;
    }
}



/*
 * Slide scroll fade animation.
 * Credits to: Peter McGriff (i.e., https://codepen.io/pmcgriff/pen/myKGZg).
 */

@keyframes slide-scroll-fade {
    0% {
        transform:translate(0, -20px); 
        opacity: 0;
    }
    50% { 
        opacity: 1;  
    }
    100% {
        transform:translate(0, 20px); 
        opacity: 0; 
    }
}

.slide-scroll-fade {
    animation: slide-scroll-fade 2s ease-in-out infinite;
}



/*
* Slide scroll bounce animation.
*/

@keyframes slide-scroll-bounce {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.slide-scroll-bounce {
    animation: slide-scroll-bounce 2s infinite;
}
