/* DEVELOPMENT styles. */

.w { border: 3px solid white; }
.b { border: 3px solid black; }
.s { border: 3px solid silver; }

.r { border: 3px solid red; }
.o { border: 3px solid orange; }
.y { border: 3px solid yellow; }
.g { border: 3px solid green; }
.t { border: 3px solid blue; }
.i { border: 3px solid indigo; }
.v { border: 3px solid violet; }
.p { border: 3px solid pink; }
