
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// App colors
$app-white: #FFFFFF;
$app-black: #000000;
$app-darkblue: #1A2233;
$app-lightblue: #C5CAE9;
$app-orange: #FFC107;

// Specific for elements
$app-bg-primary: #1A2233;
$app-bg-secondary: #FAFAFA;
$app-bg-navbar: rgba(248, 250, 252, .95);

$app-client-blue: #1A2233;
$app-client-turquoise: #5E8C8B;
$app-client-pink: #CB998B;
$app-client-white: #FEEAD4;
$app-client-yellow: #E9B100;
